.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.colorblack {
  color: black;
}

.colorwhite {
  color: white;
}

.fs-8{
  font-size: 1 rem;
}
.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.fs-9 {
  font-size: 0.625rem;
}

.fs-10 {
  font-size: 0.5rem;
}

.fs-11 {
  font-size: 0.375rem;
}

.fs-12 {
  font-size: 0.25rem;
}

.tree-toggle {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s;


}

.tree-toggle.open {
  max-height: 1500px;
  /* cukup besar utk semua submenu */
  opacity: 1;
}

.toggle-icon {
  transition: transform 0.3s ease;
}

/* Saat parent menu-item memiliki class "open", icon akan rotate */
.toggle-icon.open {
  transform: rotate(180deg);
}

.textright {
  text-align: right;
}

.swal2-container {
  z-index: 2000 !important;
}

div.fixed{
  position:fixed;
}

.fixed-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bglevel6 {
  background-color: #6e737b;
  /* biru lebih gelap */
}

.bglevel5 {
  background-color: #858a91;
  /* biru sedang */
}

.bglevel4 {
  background-color: #a2a6ac;
  /* biru muda */
}

.bglevel3 {
  background-color: #c2c5c9;
  /* biru pastel */
}

.bglevel2 {
  background-color: #e1e3e5;
  /* sangat terang */
}

.bglevel1 {
  background-color: #f5f6f7;
  /* nyaris putih */
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.progress-modern {
  height: 18px;
  background: #f2f4f8;
  border-radius: 999px;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
}

.progress-modern .progress-bar {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #ff7b54, #ffb26b);
  border-radius: 999px;
  transition: width 0.4s ease;
}

div.relative-pos {
  position: relative;
}

div.absolute-pos{
  position: absolute;
}